<div class="container">
  <div class="row header-btn">
    <h1 class="index-header">Relax and have a cocktail (<%= Cocktail.count %>)</h1>
    <% if policy(Cocktail).create? %>
      <%= link_to "Add a cocktail", new_cocktail_path, :class => "btn btn-primary" %>
    <% end %>
  </div>

<div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-4">

      <div class="card index" style="background-image: url('<%= cl_image_path cocktail.photo unless cocktail.photo.blank? %>')">
        <% if policy(cocktail).show? %>
          <h6 class="text-center"> <%= link_to cocktail.name, cocktail_path(cocktail.id) %> </h6>
        <% end %>
      </div>

    </div>

    <% end %>
  </div>
</div>


