<div class="container">
  <div class="row">
    <h1 class="index-header">Beer is all u need (<%= Cocktail.count %>)</h1>
    <%= link_to "Add a beer", new_cocktail_path, :class => "btn btn-primary" %>
  </div>

  <% @cocktails.each do |cocktail| %>

  <div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('<%= cl_image_path cocktail.photo unless cocktail.photo.blank?, height: 300, width: 400, crop: :fill %>')">
  <div class="card-category"></div>
  <div class="card-description">
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
  </div>
</div>
<% end %>

</div>


