<div class="container">
  <div class="row">
    <h1>Fancy Cocktails Total (<%= Cocktail.count %>)</h1>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="card col-xs-12 col-md-4">
        <img src="" class="card-image" alt="">
        <div class="card-head">
          <h6> <%= link_to cocktail.name, cocktail_path(cocktail.id) %> </h6>
        </div>
    </div>
    <% end %>
  </div>
  <%= link_to "Add a cocktail", new_cocktail_path, :class => "btn btn-primary" %>
</div>

