<div class="container">
  <div class="row">
    <h1 class="index-header">Beer is all u need (<%= Cocktail.count %>)</h1>
    <%= link_to "Add a beer", new_cocktail_path, :class => "btn btn-primary" %>
  </div>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-4">

      <div class="card"
           style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <h6> <%= link_to cocktail.name, cocktail_path(cocktail) %> </h6>
      </div>

    </div>

    <% end %>
  </div>
</div>




<!--



<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>
-->
