<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/JayJay2018" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/savage.sommelier/"><i class="fab fa-instagram" target="_blank"></i></a>
    <a href="https://www.linkedin.com/in/jascha-rafael-franke/"><i class="fab fa-linkedin" target="_blank"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="far fa-heart"></i> by <a id="jay" href="https://github.com/JayJay2018" target="_blank">Jay</a>
  </div>
</div>
