<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/dmkmrNptMpw/1600x900');">
  <div class="banner-content">
    <div>
      <h1>Sometimes all you need is a good sip</h1>
      <!-- <span id="banner-typed-text"></span> -->
      <p>Search for your favourite cocktail</p>
    </div>
    <div class="form-group">
      <%= form_tag cocktails_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a cocktail" %>
      <% end %>
    </div>

    <a class="btn btn-primary button-start" href="<%= cocktails_path %>">Start now</a>
  </div>
</div>
