// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-btn {
  margin-bottom: 30px;
}

.container {
  min-height: calc(100vh - 70px);
}

.index {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-back {
  margin: 50px;
}

.card {
  height: 175px;
  background-size: contain;
  background-position: center;
  color: black;
  position: relative;
  text-decoration: none;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-color: white;
}

.card a {
  text-decoration: none;
}

.card:hover {
  opacity: 0.7;
}

.index-header {
  margin-bottom: 30px;
  font-family: 'Do Hyeon', sans-serif;
}

body {
  font-family: 'Do Hyeon', sans-serif;
}

