// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  height: 100vh;
}

.card {
  height: 175px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  text-decoration: none;
}

.index-header {
  margin-bottom: 30px;
  font-family: 'Do Hyeon', sans-serif;
}

body {
  font-family: 'Do Hyeon', sans-serif;
}

